.categories {
    margin-top: 8px;
    margin-bottom: 57px;

    &__list {
        display: flex;
        gap: 6px;
        margin: 0;
        margin-left: 16px;
        padding: 0;
        overflow: hidden;

        @media (max-width: 375px) {
            margin: 0;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 8px;
        width: 90px;
        cursor: pointer;
    }

    &__img {
        height: 90px;
        width: 90px;
    }

    &__title {
        line-height: 14px;
        font-size: 14px;
        font-weight: 550;
        width: 90px;
        hyphens: auto;
        overflow-wrap: break-word;
    }
}