.catalog {
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin-bottom: 95px;

    &__images {
        display: flex;
        gap: 4px;
        margin-bottom: 6px;
    }

    &__wrapper-left {
        display: flex;
        flex-direction: row;
        gap: 114px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 2px;
        width: 1000px;
        margin-left: 12px;
    }

    &__text-wrapper {
        display: flex;
        gap: 7px;
    }

    &__title {
        font-size: 60px;
        font-weight: 500;
        line-height: 87%;
    }

    &__icon-favorite {
        background-image: url(../../assets/icon/item_like.svg);
        width: 46px;
        height: 42px;
        cursor: pointer;

        &:hover {
            background-image: url(../../assets/icon/item_like_hover.svg);
        }
    }

    &__desc {
        font-size: 22px;
        font-weight: 550;
        line-height: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 45px;
        letter-spacing: -0.3px;
    }

    &__wrapper-price-rating {
        display: flex;
        flex-direction: row;
        gap: 59px;
    }

    &__wrapper-right {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 2px;
    }

    &__price {
        display: flex;
        align-items: end;
        gap: 2px;
    }

    &__current-price {
        font-size: 39px;
        line-height: 39px;
        font-weight: 700;
    } 

    &__old-price {
        font-size: 15px;
        line-height: 15px;
        color: #BCCDD1;
        text-decoration: line-through;
    }

    &__rating {
        display: flex;
        flex-direction: column;
        align-items: end;
        width: 54px;
    }

    &__rating-number {
        font-size: 16px;
        line-height: 16px;

        &.star {
            background-image: url(../../assets/icon/Star.svg);
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: right;
            background-position-y: 0;
            width: 39px;
        }

        &.like {
            background-image: url(../../assets/icon/Like.svg);
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: right;
            background-position-y: 0;
        }
    }

    &__btn {
        font-size: 22px;
        line-height: 22px;
        font-weight: 550;
        padding: 14px 24px 16px 24px;
        width: 294px;
        height: 54px;

        &:hover {
            background: linear-gradient(99deg, #FA0 -8.11%, #F94233 86.42%);
        }
    }
}