.catalog {
    display: flex;
    flex-direction: column;
    gap: 44px;
    margin-bottom: 95px;

    @media (max-width: 768px) {
        gap: 28px;
        margin-bottom: 28px;
    }

    &__images {
        display: flex;
        gap: 4px;
        margin-bottom: 7px;
        position: relative;

        @media (max-width: 768px) {
            margin: 0;
        }
    }

    &__wrapper-img {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 16px;

        @media (max-width: 768px) {
            border-radius: 12px;
        }
    }

    &__badges {
        position: absolute;
        height: 50px;
        width: 160px;
        left: 12px;
        bottom: 35px;

        @media (max-width: 768px) {
            height: 40px;
            left: 8px;
            bottom: 31px;
        }
    }

    &__badge {
        display: block;
        background-repeat: no-repeat;

        &-top {
            background-image: url(../../assets/img/Tag-1.png);
            width: 100%;
            height: 100%;

            @media (max-width: 768px) {
                background-size: 60px 33px;
            }
        }
    
        &-bottom {
            background-image: url(../../assets/img/Tag-2.png);
            width: 100%;
            height: 100%;

            @media (max-width: 768px) {
                background-size: 108px 21px;
            }
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media (max-width: 768px) {
            flex-direction: column-reverse;
            gap: 0;
            margin-left: 6px;
            margin-right: 6px;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 2px;
        width: 1000px;
        margin-left: 12px;

        @media (max-width: 768px) {
            margin: 0;
            width: 100%;
            gap: 0;
        }
    }

    &__text-wrapper {
        display: flex;
        gap: 7px;
    }

    &__title {
        font-size: 60px;
        font-weight: 500;
        line-height: 60px;

        @media (max-width: 1024px) {
            font-size: 22px;
            font-weight: 550;
            line-height: 22px;
        }
    }

    &__icon-favorite {
        background-image: url(../../assets/icon/item_like.svg);
        width: 46px;
        height: 42px;
        cursor: pointer;

        &:hover {
            background-image: url(../../assets/icon/item_like_hover.svg);
        }

        @media (max-width: 768px) {
            margin-top: 8px;
            background-image: url(../../assets/icon/like_mobile.svg);
            width: 52px;
            height: 48px;

            &:hover {
                background-image: url(../../assets/icon/like_active_mobile.svg);
            }
        }
    }

    &__desc {
        font-size: 22px;
        font-weight: 550;
        line-height: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 45px;
        letter-spacing: -0.3px;

        @media (max-width: 768px) {
            font-size: 16px;
            font-weight: 400;
            line-height: 16px;
            height: 33px;
        }
    }

    &__wrapper-price-rating {
        display: flex;
        flex-direction: row;
        gap: 59px;

        @media (max-width: 768px) {
            justify-content: space-between;
        }
    }

    &__wrapper-right {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 2px;

        @media (max-width: 768px) {
            align-items: normal;
        }
    }

    &__price {
        display: flex;
        align-items: end;
        gap: 2px;
    }

    &__current-price {
        font-size: 39px;
        line-height: 39px;
        font-weight: 700;
    } 

    &__old-price {
        font-size: 15px;
        line-height: 15px;
        color: #BCCDD1;
        text-decoration: line-through;
        margin-bottom: 5px;
    }

    &__btn {
        font-size: 22px;
        line-height: 22px;
        font-weight: 550;
        padding: 14px 24px 16px 24px;
        width: 294px;
        height: 54px;
        letter-spacing: -0.1px;

        @media (max-width: 768px) {
            margin-top: 8px;
            width: 298px;
        }

        &:hover {
            background: linear-gradient(99deg, #FA0 -8.11%, #F94233 86.42%);
        }
    }

    &__mobile {
        display: flex;
        justify-content: space-between;
    }
}